*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #023047;
}
.container{
    height:100%;
    min-height: 100vh;
    padding-left:20%;
    padding-top:15%;

}
.container h1{
    color:#ffb703;
    font-size: 50px;
}
.input-box{
    width:50%;
    margin: 40px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;

    position: relative;
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 15px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    position: relative;
    font-size:18px;
}
.input-box button{
    margin-left: 15px;
    padding: 15px 30px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 18px;
    color:#333;
    background-color: #ffb703;
    cursor: pointer;
}
.input-box input::-webkit-calendar-picker-indicator{
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    position: absolute;
    background-position: calc(100%-10px);
    cursor: pointer;
}
#result{
    font-size: 25px;
    color: #fff;
}
#result span{
    color:#ffb703;
}